<h2>Análisis para: {{ book }}</h2>
<form method="POST" action="/analyze_basic">
    <button type="submit">Resumen y análisis de palabras</button>
</form>

<form method="POST" action="/sentiment_analysis">
    <button type="submit">Análisis de sentimientos</button>
</form>

<form method="POST" action="/entity_analysis">
    <button type="submit">Temas y protagonistas</button>
</form>

<form method="POST" action="/flashcards">
    <button type="submit">Generar flashcards</button>
</form>

<form method="POST" action="/qa">
    <button type="submit">Preguntas y respuestas</button>
</form>
