<!DOCTYPE html>
<html lang="{{ 'en' if language == 'english' else 'es' }}">
<head>
  <meta charset="UTF-8" />
  <title>{{ 'Book Flashcards' if language == 'english' else 'Flashcards del libro' }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h2>{{ 'Book Flashcards' if language == 'english' else 'Flashcards del libro' }}</h2>

    <div class="flashcards-container">
      {% for title, summary in flashcards %}
      <div class="flashcard">
        <div class="flashcard-title">{{ title }}</div>
        <div class="flashcard-summary">{{ summary }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="back-to-menu">
        <a href="/analysis_menu">
        <button type="button">{{ 'Analysis menu' if language == 'english' else 'Menu de analisis' }}</button>
        </a>
    </div>


    <a href="/" style="display:inline-block; margin-top:20px;">
      {{ 'Return to start' if language == 'english' else 'Volver al inicio' }}
    </a>
  </div>
</body>
</html>
